@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat&display=swap');

@media only screen and (max-width: 989px) {

    .component-theme{
        width:100%;
    }

    .mobile-menu{
        position: absolute;
        background-color: #708abb;
        top:0;
        right:0;
        width:100%;
        transition: ease-in-out 0.5s;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 0.5s; /* don't forget to set a duration! */
    }

    .mobile-menu-padding{
        padding:8px;
    }
    
    .login-desktop{
        display:none;
    }

    .login-mobile{
        display:block;
        position: relative;
        animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
      }

  }

@media only screen and (min-width: 1068px) {
    .component-theme{
        width:40%;
    }

    .mobile-menu{
        display:none;
    }

    .login-desktop{
        display:block;
    }

    .login-mobile{
        display:none;
    }

  }

html *{
    font-family: 'Montserrat', sans-serif;
}

.bg-light {
    background-color:#8aaae5 !important;
    color: #fff !important;;
  }
.nav-link{
    color:#fff !important;
}
.navbar-brand{
    font-family: 'Barlow Condensed';
    font-size: 30px;
}

.pasa-links:hover{
    background-color: #708abb;
    border-bottom:2px solid #fff;
}

.active{
    border-bottom:2px solid #fff;
}

.navbar-headings{
    color:#708abb !important;
}

.component-theme{
    padding:32px;
}

.component-theme .btn{
    background-color: #8aaae5;
    border:unset;
    color:#fff;
    font-family: 'Barlow Condensed';
    width:100%;
    font-size: 30px;
}

.component-theme h2{
    color:#8aaae5;
    font-weight: 700;
    font-size: 50px;
}

.component-boxes{
    padding:16px;
    background-color:#8aaae5;
    color:#fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.component-form{
    padding-top:16px;
}

.component-form-input{
    height:50px;
    border:unset;
    border-bottom:4px solid #eaeaea;
}

.component-form-input:focus{
    border:unset;
    box-shadow: unset;
    border-bottom:4px solid #8aaae5;
}

.btn:focus{
    background-color:#708abb;
}

.small{
    color:#708abb;
}